@import "variables.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  color: #102a42;
}

body {  
  display: grid;
  min-height: 100vh;
  font-size: $font-size-sm;
  line-height: 1.5;
  place-items: center;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

button {
  background: transparent;
  border: 0;
}

section {
  box-sizing: border-box;
}

.wrapper{
	width: 500px;
	min-height: 100vh;
	display: grid;
	grid-template: minmax(auto, 80px) minmax(auto, 80px) auto minmax(auto, 80px)/1fr;
}

.header{
	display: flex;
	align-items: center;
}

.header--logo{
	display: flex;	
	margin: 0 auto;
}

.create_task {
	margin: 35px auto;
  position: relative;
  height: 45px;
  min-width: 100%;
}

.input--task {
  border: 1px solid gray;
  border-radius: $border-radius;
  height: 45px;
  padding-right: 80px;
  padding-left: 10px;
  min-width: 100%;
  background-color: $main-background-color;

  &::placeholder {
    color: $main-color;
  }
}

.edit--task {
  border: 1px solid $button-background-color;
  color: white;
  background-color: $button-background-color;
  border-radius: $border-radius;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 5px 25px;

  &:hover {
    border: 1px solid $button-background-color-hover;
    background-color: $button-background-color-hover;
  }
}

.alert--input {
  border-radius: $border-radius;
  padding: 5px;
  text-align: center;
  min-height: 35px;

	&[data-status="error"] {
		background-color: #f8938c;
	}

	&[data-status="success"] {
		background-color: #84a98c;
	}
}

.tasks--container {
  min-width: 100%;
	visibility: hidden;
	margin: 35px auto;

	&[data-status="show"] {
		visibility: visible;
	}
}

.task--item {
  display: flex;
  justify-content: space-between;
  background-color: #ccc6be;
  border-radius: $border-radius;
  padding: 15px 25px;
	margin-bottom: 10px;
}

.task--edit_btn {
  background-color: $button-background-color;
  border-radius: 10px;
  color: white;

  &:hover {
    background-color: $button-background-color-hover;
  }
}

.task--btn_size {
  padding: 5px;
  background-color: $button-background-color;
  border-radius: 10px;
  color: white;

  &:hover {
    background-color: $button-background-color-hover;
  }
}

.button--edit_icon::before {
  content: "\2714";
}

.button--delete_icon::before {
  content: "\2716";
}

.button--edit-text,
.button--delete-text {
  margin: 5px;
}

.clean--items{
	display: none;
	margin: 0 auto;

	&[data-status="show"] {
		display: block;
	}
}

.clean--items_btn {
  height: 80px;
	width: 120px;
  box-sizing: border-box;

	&:hover{
		border: 3px solid red;
	}
}

.clean--items_icon {
  margin: 0 auto;
}
