$font-size-sm: 16px;
$font-size-md: 30px;
$font-weight-ml: 400;
$font-weight-xl: 700;

$margin-bottom-sm: 5px;
$margin-left-sm: 5px;

$border-radius: 50px;

$main-background-color: #CCC6BE;
$main-color: #284255;
$button-background-color: #284255;
$button-background-color-hover: #85663E;